body
{
    background-color: #D3DDEF;
}

.head-name
{
    margin-top: 30px;
    font-family: "LondrinaSketche-Regular";
    font-size: 90px ;
}

.content-range
{
   
}

#blank-wrapper,
.list-holder
{
  margin: 0 auto;   
}
#blank-wrapper
{
    border: 40px solid #F59D19;
    min-height: 900px;
    background-color: #fff;
}
#underline
{
    border-bottom: 4px solid #C57878;
}
.list
{
    font-family:'Kreon', serif;
    font-size: 24px;
    padding: 15px;
}
.add-container
{
    
    font-family:'Kreon', serif;
    font-size: 24px;
    padding: 9px;
    
}

input
{
    border: 0;
    width: 83%;
    height: 100%;
    border: 2px dashed black
}


.submiter
{
    width: 15%;
    height: 100%;
    background-color: #f0f0f0;
    border: 0;
    box-sizing: border-box;
}
.submiter:hover
{
    transition: 0.3s;
    transform: scale(0.8)
}








