body
{
    background-color: #D3DDEF;
}

.head-name
{
    margin-top: 30px;
    font-family: "LondrinaSketche-Regular";
    font-size: 90px ;
}



#blank-wrapper,
.list-holder,
.clipper
{
    margin: 0 auto;
   
}
#blank-wrapper
{
    border: 40px solid #F59D19;
    min-height: 900px;
    background-color: #fff;
    margin-top:20px;
}
#underline
{
    border-bottom: 4px solid #C57878;
}
.list
{
    font-family:'Kreon', serif;
    font-size: 24px;
    padding: 15px;
}
.list-holder:nth-child(1)
{
    margin-top: 45px;
}

.add-container,
.empty-container
{
    
    font-family:'Kreon', serif;
    font-size: 24px;
    padding: 9px;
    
}

.empty-container
{
    color: #c0c0c0;
}

input
{
    border: 0;
    width: 83%;
    height: 100%;
    border: 2px dashed black
}

.internal-container
{
    box-sizing: border-box;
}
.submiter
{
    width: 15%;
    height: 100%;
    background-color: #f0f0f0;
    border: 0;
    box-sizing: border-box;
    margin: 2px solid rgba()
}
.submiter:hover
{
    transition: 0.3s;
    transform: scale(0.8)
}

.clipper
{     
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.clipper img
{
    transform: scale(0.9);
    margin-top: -17px;
}
.done
{
    transform: scale(1.2);
    cursor: pointer;
}

.texter
{
    word-wrap: break-word;
}

.doneitem{
    text-decoration: line-through;
}
